{% extends "layout.html"%}

{% block content %}
<html>
<body style="background-color:#F8F8F8">
<style>
  h1 {
    font-family:"Trebuchet MS";
  }
  div.searchContainer {
    display:flex;
    flex-wrap:wrap;
    margin: 0% 20%;
    z-index:5;
    overflow:auto;
  }
  div.searchBar {
    text-align:left;
  }
  p.searchLabel {
    color:#2867b1;
    margin-bottom:5px;
    font-family: "Trebuchet MS";
  }
  select.dropdowns {
    width: 100%
  }
  label.modalLabel {
    color:#2867b1;
    font-weight:bold;
    font-family: "Trebuchet MS"
  }
</style>
<script>
  //Select2 is an add-on package that allows you to have pill boxes with multiple inputs.
  $(document).ready(function() {
    $('.dropdowns').select2({
      theme: "classic"
    });

    //Listening event to get the information

    $('.dropdowns').on('change.select2', function(e) {
      let values = getValues()
      $.ajax({
        url: '/update',
        type: 'POST',
        data: JSON.stringify({
          Clients: values[0],
          Products: values[1],
          Releases: values[2],
          Regions: values[3],
          Clusters: values[4],
          Environments: values[5],
          Components: values[6],
          Dates: values[7]
        }),
        success: function (response) {
          response = response.slice(1, response.length-1)
          parsingUpdate = response.split(',')
          let newClients = []
          let newProducts = []
          let newReleases = []
          let newRegions = []
          let newClusters = []
          let newEnvironments = []

          for (let i = 0; i < parsingUpdate.length; i++) {
            let info = parsingUpdate[i]
            if(info[0] == ' '){
                if (info[1] == 'u') {
                  let envOrReg = info.slice(3, info.length-1)
                  if (envOrReg == 'N. Virginia') {
                    newRegions.push(envOrReg)
                  }
                  else {
                    newEnvironments.push(envOrReg)
                  }
                }
                else {
                  let others = info.slice(2, info.length-1)
                  let detailedInfo = others.split(' ')
                  if (detailedInfo[0] == 'Client') {
                    newClients.push(detailedInfo[1])
                  }
                  else if (detailedInfo[0] == 'Product'){
                    newProducts.push(detailedInfo[1])
                  }
                  else if (detailedInfo[0] == 'Product_Release') {
                    newReleases.push(detailedInfo[1])
                  }
                  else if (detailedInfo[0] == 'Cluster') {
                    newClusters.push(detailedInfo[1])
                  }
                }
            }
            else {
                  let client = info.slice(8, info.length-1)
                  newClients.push(client)
            }
          }

          $('.clientValues').remove()
          let clientOptionsHTML = ''
          for (let i = 0; i < newClients.length; i++) {
            if (values[0].includes(newClients[i])) {
              clientOptionsHTML += '<option selected="selected" class="clientValues" id="' + newClients[i] + '" value="' + newClients[i] + '">' + newClients[i] + '</option>'
            }
            else {
              clientOptionsHTML += '<option class="clientValues" id="' + newClients[i] + '" value="' + newClients[i] + '">' + newClients[i] + '</option>'
            }
          }
          $('.clients').append(clientOptionsHTML)

          // for (let i = 0; i < values[0].length; i++) {
          //     $('.clients').val(values[0][i])
          // }

          $('.productValues').remove()
          let productOptionsHTML = ''
          for (let i = 0; i < newProducts.length; i++) {
            if (values[1].includes(newProducts[i])) {
              productOptionsHTML += '<option selected="selected" class="productValues" id="' + newProducts[i] + '" value="' + newProducts[i] + '">' + newProducts[i] + '</option>'
            }
            else {
              productOptionsHTML += '<option class="productValues" id="' + newProducts[i] + '" value="' + newProducts[i] + '">' + newProducts[i] + '</option>'
            }
          }
          $('.products').append(productOptionsHTML)

          $('.releaseValues').remove()
          let releaseOptionsHTML = ''
          for (let i = 0; i < newReleases.length; i++) {
            if (values[2].includes(newReleases[i])) {
              releaseOptionsHTML += '<option selected="selected" class="releaseValues" id="' + newReleases[i] + '" value="' + newReleases[i] + '">' + newReleases[i] + '</option>'
            }
            else {
              releaseOptionsHTML += '<option class="releaseValues" id="' + newReleases[i] + '" value="' + newReleases[i] + '">' + newReleases[i] + '</option>'
            }
          }
          $('.releases').append(releaseOptionsHTML)

          $('.regionValues').remove()
          let regionOptionsHTML = ''
          for (let i = 0; i < newRegions.length; i++) {
            if (values[3].includes(newRegions[i])) {
              regionOptionsHTML += '<option selected="selected" class="regionValues" id="' + newRegions[i] + '" value="' + newRegions[i] + '">' + newRegions[i] + '</option>'
            }
            else {
              regionOptionsHTML += '<option class="regionValues" id="' + newRegions[i] + '" value="' + newRegions[i] + '">' + newRegions[i] + '</option>'
            }

          }
          $('.regions').append(regionOptionsHTML)

          $('.clusterValues').remove()
          let clusterOptionsHTML = ''
          for (let i = 0; i < newClusters.length; i++) {
            if (values[4].includes(newClusters[i])) {
              clusterOptionsHTML += '<option selected="selected" class="clusterValues" id="' + newClusters[i] + '" value="' + newClusters[i] + '">' + newClusters[i] + '</option>'
            }
            else {
              clusterOptionsHTML += '<option class="clusterValues" id="' + newClusters[i] + '" value="' + newClusters[i] + '">' + newClusters[i] + '</option>'
            }

          }
          $('.clusters').append(clusterOptionsHTML)

          $('.environmentValues').remove()
          let environmentOptionsHTML = ''
          for (let i = 0; i < newEnvironments.length; i++) {
            if (values[5].includes(newEnvironments[i])) {
              environmentOptionsHTML += '<option selected="selected" class="environmentValues" id="' + newEnvironments[i] + '" value="' + newEnvironments[i] + '">' + newEnvironments[i] + '</option>'
            }
            else {
              environmentOptionsHTML += '<option class="environmentValues" id="' + newEnvironments[i] + '" value="' + newEnvironments[i] + '">' + newEnvironments[i] + '</option>'
            }
          }
          $('.environments').append(environmentOptionsHTML)


          console.log(newClients)
          console.log(newProducts)
          console.log(newReleases)
          console.log(newRegions)
          console.log(newClusters)
          console.log(newEnvironments)
        }
      })
    })
  });

  function getValues() {
    //The format of $('._____').val() gives the results from the select2 Tables
    var clientVal = $('.clients').val()
    console.log($('.clients').val())
    var productVal = $('.products').val()
    var releaseVal = $('.releases').val()
    var regionVal = $('.regions').val()
    var clusterVal = $('.clusters').val()
    var environmentVal = $('.environments').val()
    var componentVal = $('components').val()

    var dateFrom = document.getElementById("dateFrom").value;
    var dateUntil = document.getElementById("dateUntil").value;

    //Generated empty arrays, and filled them with the values from above to send to the backend as an array.
    var clientList = []
    var productList = []
    var releaseList = []
    var regionList = []
    var clusterList = []
    var environmentList = []
    var componentList = []
    var dateList = [dateFrom, dateUntil];

    //Populates all the lists with the search values
    for (var cli in clientVal) {
      clientList.push(clientVal[cli])
    }
    for (var pro in productVal) {
      productList.push(productVal[pro])
    }
    for (var rel in releaseVal) {
      releaseList.push(releaseVal[rel])
    }
    for (var reg in regionVal) {
      regionList.push(regionVal[reg])
    }
    for (var clu in clusterVal) {
      clusterList.push(clusterVal[clu])
    }
    for (var env in environmentVal) {
      environmentList.push(environmentVal[env])
    }
    for (var com in componentVal) {
      componentList.push(componentVal[com])
    }

    console.log(clientList)
    console.log(productList)
    console.log(releaseList)
    console.log(regionList)
    console.log(clusterList)
    console.log(environmentList)
    console.log(componentList)
    console.log(dateList)

    return [clientList, productList, releaseList, regionList, clusterList, environmentList, componentList, dateList]
  }
  // Sends the selected search tags to the backend
  function sendData() {
    let values = getValues()

    //send back and Ajax Request with the following information.
      $.ajax({
      url: '/result',
      type: 'POST',
      data: JSON.stringify({
        Clients: values[0],
        Products: values[1],
        Releases: values[2],
        Regions: values[3],
        Clusters: values[4],
        Environments: values[5],
        Components: values[6],
        Dates: values[7]
      }),
      success: function (response) {
        $('#result-tag').html(response)
      }
    })
  }

</script>

<h1 style="padding-top:70px; padding-bottom:11px; text-align: center"> Search <span style="color:#FF9900">aws</span> Resources</h1>

<div class="searchContainer">
  <div class="searchBar col-md-6">
    <p class="searchLabel clientSelect"> <b> Clients: </b> </p>
    <select class="dropdowns clients"  name="clients[]" multiple="multiple">
      {% for client in clientsQ %}
        <option class="clientValues" id="{{ client.client_name }} value="{{ client.client_name }}">{{ client.client_name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="searchBar col-md-6">
    <p class="searchLabel productSelect"> <b> Products: </b> </p>
    <select class="dropdowns products"  name="products[]" multiple="multiple">
      {% for product in productsQ %}
        <option class="productValues" id="{{ product.product_name }}" value="{{ product.product_name }}">{{ product.product_name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="searchBar col-md-6">
    <p class="searchLabel releaseSelect"> <b> Releases: </b> </p>
    <select class="dropdowns releases"  name="releases[]" multiple="multiple">
      {% for release in releasesQ %}
        <option class="releaseValues" id="{{ release.release_number }} value="{{ release.release_number }}">{{ release.release_number }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="searchBar col-md-6">
    <p class="searchLabel regionSelect"> <b> Regions: </b> </p>
    <select class="dropdowns regions"  name="regions[]" multiple="multiple">
      {% for region in regionsQ %}
        <option class="regionValues" id="{{ region }}" value="{{ region }}">{{ region }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="searchBar col-md-6">
    <p class="searchLabel clusterSelect"> <b> Clusters: </b> </p>
    <select class="dropdowns clusters"  name="clusters[]" multiple="multiple">
      {% for cluster in clustersQ %}
        <option class="clusterValues" id="{{ cluster.cluster_name }} value="{{ cluster.cluster_name }}">{{ cluster.cluster_name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="searchBar col-md-6">
    <p class="searchLabel environmentSelect"> <b> Environments: </b> </p>
    <select class="dropdowns environments"  name="environments[]" multiple="multiple">
      {% for environment in environmentsQ %}
        <option class="environmentValues" id="{{ environment }}" value="{{ environment }}">{{ environment }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="searchBar col-md-6">
    <p class="searchLabel componentSelect"> <b> Components: </b> </p>
    <select class="dropdowns components"  name="components[]" multiple="multiple">
      {% for component in componentsQ %}
        <option value="{{ component.component_name }}">{{ component.component_name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group col-md-3" style = padding-right:1%>
      <!--<label for="date (from)">Date (From)</label>!-->
      <p class="searchLabel"> <b> Date (From): </b> </p>
      <input type="date" class="form-control" id="dateFrom"name="Date (From)">
  </div>
  <div class="form-group col-md-3">
      <!--<label for="date (until)">Date (Until)</label>-->
      <p class="searchLabel"> <b> Date (Until): </b> </p>
      <input type="date" class="form-control" id="dateUntil" name="Date (Until)">
  </div>
  <div class="searchBar col-md-12">
    <button type="button" class="btn btn-outline-primary" style="width:100%; font-weight:bold" onClick="sendData()">Search</button>
  </div>

  <br>
  <br>
  <br>

<script>

let addReleaseTag = {}
let selectedCluster = []

  $(document).ready(function() {
    $('.productsTag').select2({
      theme: "classic"
    });

    $('.clustersTag').select2({
      theme: "classic"
    });

    $('.productsTag').on('select2:select', function(e) {
      let data = e.params.data
      addReleaseTag['product'] = data.text
    })
    $('.clustersTag').on('select2:select', function(e) {
      let data = e.params.data
      selectedCluster.push(data.text)
    })

    $('.clustersTag').on('select2:unselect', function(e) {
      let data = e.params.data
      let unselected = data.text
      for (let i = 0; i < selectedCluster.length; i++) {
        if (selectedCluster[i] == unselected) {
          selectedCluster.splice(i, 1)
        }
      }
    })
  });


  function newTag() {
    addReleaseTag['clusters'] = selectedCluster
    let releaseNum = document.getElementById('releaseNum').value
    addReleaseTag['releaseNum'] = releaseNum
    $.ajax({
      url:'/newTag',
      type:'POST',
      data: JSON.stringify({
        tagQuery: addReleaseTag
      }),
      success: function(response) {
        alert(response)
      }
    })
  }

  </script>
  <!-- Modal for adding a release tag -->
  <div class="modal fade no-reload" id="addTagModal" tabindex="-1" role="dialog" aria-labelledby="addTagLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTagLabel">Add/Update a Release Tag:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
              <div class="form-group">
                <label class="modalLabel" for="selectProduct">Product:</label>
                <br>
                <select class="productsTag" id="selectProduct" placeholder="Select product" style="width:100%">
                  <option value="" disabled selected>Select product</option>
                  {% for product in productsTag %}
                    <option value="{{ product.product_name }}">{{ product.product_name }}</option>
                  {% endfor %}
                </select>
              </div>
          </form>
          <form>
            <div class="form-group">
              <label class="modalLabel" for="releaseNum">Release Number:</label>
              <input type="email" class="form-control" id="releaseNum" aria-describedby="releaseFormat" placeholder="Enter release">
              <small id="releaseFormat" class="form-text text-muted">Example format: 1.1.1.1</small>
            </div>
          </form>
          <form>
            <div class="searchBar col-md-6">
              <p class="searchLabel"> <b> Cluster(s):</b> </p>
                <select class="clustersTag" id="addClustersSelect2" style="width:214%" name="addClustersSelect2" multiple="multiple">
                  {% for cluster in clustersTag %}
                  <option value="{{ cluster.cluster_name }}">{{ cluster.cluster_name }}</option>
                  {% endfor %}
                </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="newTag()">Add tag</button>
        </div>
      </div>
    </div>
  </div>

  <!-- This script clears out the add tag modal after submission/closing -->
  <script>
    $('#addTagModal').on('hidden.bs.modal', function (e) {
        $(this)
          .find("input, select")
          .val('')
          .end()
          $('#addClustersSelect2').val(null).trigger('change');
    });
  </script>

<!-- This is where the table is being rendered in! -->
</div>
<div id="result-tag"></div>
</body>
</html>

{% block resultContent%}
{% endblock %}

{% endblock %}
